---
component: Date pickers
analytics:
  pageCategory: component
  component: date-picker
status:
  api: general
  core: false
  wrm: com.atlassian.auiplugin:aui-date-picker
  amd: false
  experimentalSince: 4.0
  generalSince: 5.1
---

<h2>Summary</h2>
<p>A simple date picker polyfill for browsers that don't support date fields. Based on the jQuery UI Date Picker.</p>

<h2>Status</h2>
{{> status }}

<h2>Examples</h2>

<article class="aui-flatpack-example">
    <input class="aui-date-picker" id="demo-range-1" type="text" max="2012-01-25" min="2011-12-25" data-aui-dp-uuid="0" placeholder="yy-mm-dd">
    <script>
    AJS.$('#demo-range-1').datePicker({'overrideBrowserDefault': true});
    </script>
</article>

<h2>Code</h2>

<h3>HTML &amp; JavaScript</h3>

<p>The AUI Date Picker is set up with an HTML5 date input, plus JavaScript to set the desired options. In most implementations Date Picker is set to override the native implementation at all times. This gives a consistent experience in all browsers.</p>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <input class="aui-date-picker" id="demo-range-2" type="date" max="2012-01-25" min="2011-12-25" />
    </noscript>
    <noscript is="aui-docs-code" type="text/js">
        AJS.$(document).ready(function() {
            AJS.$('#demo-range-2').datePicker({'overrideBrowserDefault': true});
        });
    </noscript>
</aui-docs-example>

<h2>Options</h2>

<p>Options are set in the JavaScript options object:</p>

<table class="aui">
    <thead>
        <tr>
            <th scope="col">Option</th>
            <th scope="col">Type</th>
            <th scope="col">Default</th>
            <th scope="col">Effect</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>overrideBrowserDefault</code></td>
            <td>Boolean</td>
            <td>false</td>
            <td>Provides the polyfill regardless of whether or not the browser supports date input fields. If the browser supports date input fields, the field type is changed totext&nbsp;to suppress the browser's native date picker implementation.&nbsp;<br><br>Use this option to maintain a consistent look across browsers, especially when native implementations are aesthetically unpleasant (as with Opera) or incomplete (as with Safari's spinner-only implementation).</td>
        </tr>
        <tr>
            <td><code>firstDay</code></td>
            <td>Number</td>
            <td>-1</td>
            <td>Sets the starting day of the calendar week. Zero to six represents Sunday to Saturday, and -1 represents the localisation's default setting.</td>
        </tr>
        <tr>
            <td><code>languageCode</code></td>
            <td>String</td>
            <td>The&nbsp;<code>html</code> element's <code>lang</code> attribute if available, otherwise <code>en-AU</code>.</td>
            <td>
               <p>Localises various aspects of the date picker, including day names, the first day of the week, RTL text, month names, whether the year precedes the month, and whether the year requires a suffix.&nbsp;</p>
               <p>The following locales are supported: '' (used when an unavailable language code is specified), 'af', 'ar-DZ', 'ar', 'az', 'bg', 'bs', 'ca', 'cs', 'da', 'de', 'el', 'en-AU', 'en-GB', 'en-NZ', 'eo', 'es', 'et', 'eu', 'fa', 'fi', 'fo', 'fr-CH', 'fr', 'gl', 'he', 'hr', 'hu', 'hy', 'id', 'is', 'it', 'ja', 'ko', 'kz', 'lt', 'lv', 'ml', 'ms', 'nl', 'no', 'pl', 'pt-BR', 'pt', 'rm', 'ro', 'ru', 'sk', 'sl', 'sq', 'sr-SR', 'sr', 'sv', 'ta', 'th', 'tj', 'tr', 'uk', 'vi', 'zh-CN', 'zh-HK', and 'zh-TW'.</p>
            </td>
        </tr>
        <tr>
            <td><code>dateFormat</code></td>
            <td>String</td>
            <td>yy-mm-dd (which is ISO 8601)</td>
            <td>Sets the date format. Some date format examples can be found <a href="https://jqueryui.com/datepicker/#date-formats" target="_blank">in the jQuery UI documentation</a>.</td>
        </tr>
    </tbody>
</table>
