---
component: In-product help patterns
analytics:
  pageCategory: component
  component: in-product-help
design: https://design.atlassian.com/2.0/product/patterns/in-product-help/
status:
  api: general
  core: false
  wrm: com.atlassian.auiplugin:aui-help, com.atlassian.auiplugin:aui-inline-dialog2
  experimentalSince: 5.7
  generalSince: 6.0
---

<h2>Summary</h2>

<p>
    Patterns for in-product help.
    Includes features like help text, feature discovery dialogs, and empty state messages.
</p>

<h2>Status</h2>
{{> status }}

<h2>Feature discovery dialog</h2>

<p>The feature discovery dialog is primarily used to highlight new or
    existing features to the user. It should contain a short introduction to the feature and encourage users to make use
    of it.</p>

<h3>Basic usage</h3>

<p>
    Feature discovery dialog relies on <a href="inline-dialog.html">inline dialog</a> for its usage. It simply
    adds an additional class to the dialog.
</p>

<p>
    Note that you will need to also explicitly require the web-resource for inline dialog to be able to create
    an inline dialog successfully.
</p>

<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <button class="aui-button" aria-controls="inline-dialog-help" data-aui-trigger>Help dialog trigger</button>

        <aui-inline-dialog id="inline-dialog-help" class="aui-help" alignment="bottom center">
            Helpful help message here!
        </aui-inline-dialog>
    </noscript>
</aui-docs-example>

<h2>Help text</h2>

<p>
    The purpose of help text is to provide more insight and understanding on a more
    complex screen. This text should only be dismissable if there is a way for the user to access it again.
</p>

<h3>Basic usage</h3>

<p>
    Help text can be used by placing an <code>aui-help</code> and <code>aui-help-text</code> class on an
    outer element and then nesting an <code>aui-help-content</code> for the block of help text to be formatted.
</p>

<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <div class="aui-help aui-help-text">
            <div class="aui-help-content">
                <p>Card colors can be assigned according to different types of issue data or be based on custom queries.
                    When values are present in the board they will be listed below.</p>
                <ul class="aui-nav-actions-list">
                    <li><a class="aui-button" href="#">Click me</a></li>
                    <li><a href="#">Learn more 1</a></li>
                    <li><a href="#">Learn more 2</a></li>
                    <li><a href="#">Learn more 3</a></li>
                </ul>
            </div>
        </div>
    </noscript>
</aui-docs-example>

<h2>Empty state message</h2>

<p>
    Empty state messages are used in areas which usually hold content but are
    not currently populated. An example would be a new instance where content is yet to be created. When enough content
    exists, empty state messages should disappear.
</p>

<h3>Basic usage</h3>

<p>
    Empty state messages can be used by placing the <code>aui-help</code> class along with the
    <code>aui-help-empty-state</code> class on a top level container. Using the <code>aui-help-illustration</code>
    class on a container will style a help image besides a body of help text.
    To style help text, simply apply the <code>aui-help-content</code> class on a container with all the information and
    suggestions for actions.
</p>

<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <div class="aui-help aui-help-empty-state">
            <div class="aui-help-illustration"><img height="128" width="128" src="images/project-64.png"></div>
            <div class="aui-help-content">
                <h6>Plan your sprint</h6>
                <p>This is a sprint. Plan a sprint by dragging the sprint footer down below some issues, or by dragging issues here.</p>
                <ul class="aui-nav-actions-list">
                    <li><a class="aui-button">Click me</a></li>
                    <li><a href="#">Learn more 1</a></li>
                    <li><a href="#">Learn more 2</a></li>
                    <li><a href="#">Learn more 3</a></li>
                </ul>
            </div>
        </div>
    </noscript>
</aui-docs-example>
