---
component: AUI 5 upgrade guides
analytics:
  pageCategory: upgrade-guide
  component: all
---

<aui-docs-contents></aui-docs-contents>

<div class="aui-message aui-message-info">
    <p>You can find upgrade guide for the latest version <a href="{{rootPath}}docs/upgrade-guide.html">here</a>.</p>
</div>

<h2 id="5.8.x-to-5.9">Upgrading from 5.8.x to 5.9</h2>

<h3 id="5.9-inlinedialog">Inline dialog</h3>

<h4>Tag name</h4>
<p>Inline dialog 1 is still deprecated but usable via the imperative <code>AUI.InlineDialog()</code> API. However, the Inline Dialog 2 custom element has been renamed to Inline Dialog.</p>
<noscript is="aui-docs-code" type="text/html">
    <!-- Old -->
    <aui-inline-dialog2></aui-inline-dialog2>

    <!-- New -->
    <aui-inline-dialog></aui-inline-dialog>
</noscript>

<h4><code>persistent</code> property / attribute</h4>
<p>The <code>persistent</code> attribute is now a <a href="https://html.spec.whatwg.org/#boolean-attributes">boolean attribute</a>.</p>
<noscript is="aui-docs-code" type="text/html">
    <!-- Old -->
    <aui-inline-dialog2 persistent="true"></aui-inline-dialog2>
    <aui-inline-dialog2 persistent="false"></aui-inline-dialog2>

    <!-- New -->
    <aui-inline-dialog persistent></aui-inline-dialog>
    <aui-inline-dialog></aui-inline-dialog>
</noscript>

<div class="aui-message aui-message-warning">
    <p class="title">Boolean attributes</p>
    <p>Now that <code>persistent</code> is a boolean attribute, this means that if you set <code>persistent="false"</code>, it will be interpreted as <code>true</code>.</p>
</div>

<h4>Events</h4>
<p>Event listeners now do not contain the component prefix. They are only prefixed with <code>aui-</code>. This will be a convention for everything moving forward.</p>
<noscript is="aui-docs-code" type="text/js">
    // Old
    inlineDialog.addEventListener('aui-layer-hide', handler);
    inlineDialog.addEventListener('aui-layer-show', handler);

    // New
    inlineDialog.addEventListener('aui-hide', handler);
    inlineDialog.addEventListener('aui-show', handler);
</noscript>

<h4>Methods removed in favour of <code>open</code> property / attribute</h4>
<p>The <code>hide()</code>, <code>isVisible()</code> and <code>show()</code> methods have all been removed in lieu of a single <code>open</code> property / attribute.</p>
<noscript is="aui-docs-code" type="text/js">
    // Old
    inlineDialog.hide();
    var isVisible = inlineDialog.isVisible();
    inlineDialog.show();

    // New
    inlineDialog.open = false;
    var isVisible = inlineDialog.open;
    inlineDialog.open = true;
</noscript>

<h2 id="5.7.x-to-5.8">Upgrading from 5.7.x to 5.8</h2>

<h3 id="5.8-inlinedialog">Inline dialog</h3>

<p>
    More details of the inline dialog upgrade can be found in
    <a href="{{rootPath}}docs/upgrades/inline-dialog-component.html">the inline dialog component guide</a>.
</p>
