<span class="aui-avatar{{#if project}} aui-avatar-project{{/if}} aui-avatar-{{size}}">
    <span class="aui-avatar-inner">
        <img src="images/avatar-{{#if project}}project{{else}}person{{/if}}.svg" alt="" role="presentation" />
    </span>
</span>
{{name}}
