<form class="aui-quicksearch" method="post" action="/foo">
    <label class="assistive" for="quicksearchid">Search</label>
    <input type="search" name="quicksearchname" placeholder="Quick Search" class="search" id="quicksearchid">
</form>
