.demo-spinner {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    border: 1px solid grey;
}

#spinner-trigger {
    margin-top: 10px;
}

.button-spinner {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;

    /* To test for the positioning bug in spin.js (AUI-3543) */
    border: solid;
    position: relative;
}
